
## gradle
/.gradle
/build
## /gradle
## /gradlew
## /gradlew.bat
/resourcepacks

## ForgeGradle
/run
/out
/mcp

## IDE
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
*.iml
*.ipr
*.iws
/.idea
/libs
/src/main/resources/assets/notenoughblocks/textures/blocks

## libs
/libs/*sources
/libs/*src
/libs/*javadoc

OneEight.java